<%- include("includes/head") %>

<body>
  <section class="container">
    <h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit</h1>
    <form action="/" method="post">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <label>Cliente</label>
      <input type="text" name="cliente" placeholder="Cliente" />
      <button type="submit">Enviar</button>
    </form>
  </section>
  <%- include("includes/footer") %>
</body>
